body { 
  position: relative;
}
.frontpage {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.frontpage-img {
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frontpage-wrapper {
  background-color: white;
}

.frontpage-logo-wrapper {
  width: 20%;
}

.frontpage-logo-row {
  top: 50vh;
  width: 100%;
  position: relative;
  transform: translateY(-50%);
}



@media (max-width: 991.98px) {
  .frontpage-arrow-row {
    top: 80vh;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
  }
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 39px -32px black;
}


.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  /* padding: 0 15px; */
}

#menu {
  border-right: 1px solid rgba(0, 51, 102, 0.1)
}

.service-card {
  /* width: 400px; */
  border: 3px solid #265586;
  border-radius: 0px;
  height: 100%;

}

.swiper-container {
  width: 100%;
  display: flex;
  position: relative;

}

.swiper-slide {
  height: auto;
  font-size: 16px;
  align-self: stretch;


}

.swiper-pagination {
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  margin: 0 4px;
}

.card-img-top {
  height: 140px;
  object-fit: cover;
}

.types-img-wrapper-1 {
  height: 250px;
  vertical-align: text-center;
  position: relative;
}

.types-img-wrapper-2 {
  height: 250px;
  vertical-align: text-center;
  position: relative;
}

.types-img-wrapper-3 {
  height: 250px;
  vertical-align: text-center;
  position: relative;
}

.types-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-align: center;
}

.types-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.transition {
  transition: cubic-bezier(0.39, 0.58, 0.57, 1) 0.3s;
  ;
}

.types-info {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; 
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 16px;
  overflow: hidden;
}

.types-img-wrapper-3:hover .types-info,
.types-img-wrapper-2:hover .types-info,
.types-img-wrapper-1:hover .types-info {
  opacity: 1;
}





.types-img-wrapper-mob {
  height: 250px;
  vertical-align: text-center;
  position: relative;
}

.types-img-text-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-align: center;
}

.types-img-mob {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.types-info-mob {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 16px;
}